body{
    background-color: #fff;

    min-height: 100vh;

}
.Game-container{
   background-color: #13A380; 
   object-fit: cover;
   width: 300px;
   margin:50px auto;
   display: flex;
   justify-content: center;
   padding: 40px;
   border-radius: 10px;
   box-shadow: 0 0 10px black;
}
.app-title{
    text-align: center;
}
.Game-img{
    height: 350px;
    width: 350px; 
}
.btn-container{
    display:flex;
    justify-content: center;
    margin-top: 20px;
}
.btn-toggle{
    font-size: 20px;
    padding: 5px 20px;
    border-radius: 40px;
    font-size:  bold;
    margin: 0 10px;
    cursor: pointer;
    background-color: #13A380;
    color: #000;
}
.btn-toggle:hover{
    box-shadow: 0 0 10px black;
}

@media screen and (max-width: 600px){
    .Bulb-container{
        width: 80%;
    }
    .bubl-img{
        height: 150px;
    }

}