body{
    margin: 0;
    padding: 0;
    background-image: url(./../img/health-still-life-with-copy-space.jpg);
    background-size: cover;
  
  }
  .doc{
    position: relative;
    left: 650px;
    height: 200px;
  width: 200px;
  top: 90px;
  }
  .menu{
  
   background-color:#13A380;
   height: 100px;
   display: flex;
   
  }
  .logo{
    height: 65px;
    width: 80px;
  }
  
  
  .container{
  font-size: 25px;
  text-align: center;
  margin-right: 10px ;
  margin-top: 60px;
  margin-left: 300px;
  height: 800px;
  width:600px ;
  }
   .page{
    display: flex;
    margin-left: 900px;
   }
  
  .btn-appo{
   padding: 20px 30px;
  border-radius: 20px;
  background-color:#16c99f;
  color: blac;
  font-size: 20px;
  font-weight: bold;
  margin: 40px auto;
  cursor: pointer;
  }
  .btn-appo:hover{
  background-color: bisque;
  color: black;
  }
  
  .text{
  font-size: 25px;
  }
  .btn-join{
  font-size: 20px;
  padding: 5px;
  margin: 5px;
  
  }
  .logo{
    padding: 10px;
    margin-top: 10px;
    height: 70px;
    width: 80px;
    margin-bottom: 10px;
    margin-left: 20px;
  } 
  .container-1{
    height: 100px;
 margin-left: 1200px;
 width: 600px;
 margin-bottom: 10px;
 border-radius: 10px; 
    display: flex;
    justify-content: center;
    background-color: aquamarine;
}


.btn-container{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.btn-design{
  height: 50px;
  font-size: 20px;
  padding: 5px 5x ;
  border-radius: 10px 40px;
  margin: 0 5px;
  cursor: pointer;
  background-color: rgb(9, 179, 122);
}
.btn-design:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 600px){
.container{
width: 60%;
}
.img{
height: 150px ; 
}
}