/* #13A380 */
.container1{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;


}
.card1{
    backdrop-filter: blur(3px);
    width: 350px;
    height: 380px;
    box-shadow: 1px 1px 10px 5px black;
    border-radius: 5px;
    
}

.card1 img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: block;
    margin: 5px auto;

}

.card1 h1{
    text-align: center;
    
}

.card1 p{
    font-size: 25px;
    position: relative;
    bottom: 20px;
    left: 80px;
}
span{
    font-size: 18px;
    display: block;
    text-align: center;
}